

<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--<a class="navbar-brand" href="../">Back</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item active">

                  <a class="nav-link" href="../home">FeuilleDeRoute</a> <span class="sr-only">(current)</span></a>
                </li>

                  <li class="nav-item active">
                      <a class="nav-link" href="../horsfeuillederoute/home">HorsFeuilleDeRoute</a> <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Tableau de bord</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Gestion de temps</a>
                </li>

              </ul>

              <form action="create" id="addButton">
                  <button type="submit" class="btn btn-secondary btn-sm">Ajouter projet</button>
              </form>

              <span class="navbar-text">
                Login
              </span>

            </div>
</nav>